body{
    font-family: Lato-Regular;
}
.container{
    width:1140px;
    margin: 0 auto;
}
.container-fluid{
    width:100%;
}
.clearfix{
    clear: both;
}
.section_heading_span{

}
.section_heading_h1{
    
}


header .container .brand-logo h1{
    float: left;
    font-size: 30px;
    font-family: Lato-Black;
}
header .container .brand-logo span{
    color:#337AB7;
    float: left;
    font-size: 30px;
    font-family: Lato-Black;
}
header .container .navbar nav a{
    text-decoration: none;
    color:black;
}
header .container .navbar nav a span{
    float: right;
    font-size: 30px;
    line-height: 35px;
}
main .container-fluid .intro{
    width:100%;
    position: relative;
}
main .container-fluid .intro img{
    width:100%;    
}
main .container-fluid .intro .intro-heading{
    position: absolute;
    top:0;
    left:0;
    color:white;
    margin: 150px 460px;
    
    
}
main .container-fluid .intro .intro-heading h1{
    font-size: 100px;
    font-family: Lato-black;
}
main .container-fluid .intro .intro-heading p{
    font-size: 30px;
    font-family: Lato-regular;
    line-height: 40px;
}
main .container-fluid .intro .intro-heading a{
    text-decoration: none;
    padding: 20px 40px;
    background-color: #337AB7;
    color: white;
    border-radius: 20px;
    display: inline-block;
    font-size: 18px;
    font-family: lato-regular;
}