body{
    font-family: Lato-Regular;
}
a{
    text-decoration: none;
    color:inherit;
    font-size:inherit;
}
p{
    line-height: 30px;
}
p span{
    color:black;
    font-weight:700;
}
.container{
    width:1140px;
    margin: 0 auto;
}
.container-fluid{
    width:100%;
}
.clearfix{
    clear: both;
}
/* [class|=icon]{
    color:  #337AB7;
} */
.section_heading{
    float:left;
    box-sizing: border-box;
    width: 45%;
    margin:0 20px;
}

.section_heading span{
    color:#9D9D9D;
}
.section_heading h1{
    color: #337AB7;
    font-size:30px;
    margin-top:20px;
    font-weight: 700;
    font-family: Lato-Bold;
    line-height: 35px;
}

.brand-logo, .navbar{
    margin: 10px -40px;
}
.brand-logo{
    float: left;
}
.navbar{
    float: right;
}

header .container .brand-logo h1{
    float: left;
    font-size: 30px;
    font-family: Lato-Black;
    
}
header .container .brand-logo span{
    color:#337AB7;
    float: left;
    font-size: 30px;
    font-family: Lato-Black;
    
}
header .container .navbar nav a{
    text-decoration: none;
    color:black;
}
header .container .navbar nav a span{
    
    font-size: 30px;
    line-height: 35px;
}
#intro {
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height:600px;
  background-size: cover;
  position: relative;
}

#intro .intro-heading{
   
    color: white;
    transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 33%;
    
}
#intro .intro h1{
    font-size: 60px;
    font-family: Lato-black;
}
#intro .intro p{
    font-size: 20px;
    font-family: Lato-regular;
    line-height: 30px;
}
#intro .intro a{
    text-decoration: none;
    padding: 15px 29px;
    background-color: #337AB7;
    color: white;
    border-radius: 15px;
    display: inline-block;
    font-size: 18px;
    font-family: lato-regular;
}


  .about, .employers, .portfolio, .works_examples, .testimonials, .contact, .footer{
    margin: 100px -70px;
}
.photo{
float:left;
width:45%;
box-sizing: border-box;
margin:0 20px;
}
.photo img{
    width:100%;
}
.description{
    float: left;
    width: 45%;
    box-sizing: border-box;
    font-size: 20px;
    margin: 20px;
    color: #9D9D9D;
}
.description h1{
    font-size: 25px;
    font-family: 'Lato-Bold';
    color:black;
    
}


li{
    color: #9D9D9D;
    line-height: 40px;
    
}

.check li span{
    font-size: 25px;
    color: #5CB85C;
    vertical-align: text-bottom;    
}

.link  {
    color: #337AB7;
    display:block;    
}


.social{
    display:inline-block;    
    margin:0px 15px;
    color:  #337AB7;
}
#employers .description{
    padding: 20px;
}
#Portfolio{
    background-color: rgba(51,122,183,0.06);
    padding: 5px 0px;
}
#works_examples, #footer{
    padding: 5px 0px;
}

.portfolio_item{
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding: 25px;
    font-size: 20px;
    margin:20px;
    color: #9D9D9D;
    border-top: 3px solid #337AB7;
    background-color: white;
}

.portfolio_item [class|=icon]{
   font-size:60px;
   color:#337AB7;
}
.portfolio_item .link{
    font-weight: 700;
}
#works_examples .section_heading, #testimonials .section_heading, #contact .section_heading{
    text-align: center;
    margin: 0 auto;
    float: none;
    width: 50%;
}
.signature{
    color:black;
    font-style: italic;
}
.signature p{
    border-left: 10px solid gray;
    padding: 0px 10px;
}
.signature span{
    display:inline-block;
    padding: 30px 0px;
    float:left;
    line-height: 60px;


}
.signature img{
    display:inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 30px;
    float:left;
}

.form{
    box-sizing: border-box;
    font-size: 20px;
    margin: 20px 0px;
}
form input, form textarea {
    padding: 11px;
    font-size: 20px;
    border-radius: 5px;
    margin: 15px;
    width: 45%;
    background-color: rgba(51,122,183,0.06);
    border:1px solid #D9EDF7;
    font-family: Lato-Regular;
}
button{
    margin: 15px;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 21px;
    color: white;
    background-color: #337AB7;
    font-family: Lato-Regular;
    border:1px solid #337AB7;
    
}
form input:focus{
    border-radius: 5px;
    outline-color: red;
}


#footer{
    background-color: #333333;
    height:600px;
}
.footer_item{
    float: left;
    width: 30%;
    box-sizing: border-box;
    font-size: 20px;
    margin:0 20px;
    color: #9D9D9D;
}
.footer_item h1{
    color:white;
    font-weight:700;
}
.footer_item input{
    padding: 15px;
    width: 90%;
    font-size: 20px;
    background-color: inherit;
    color: white;
    font-style:italic;
}
.footer_item button{
    margin: 15px 0px;
    padding: 10px 50px;
}
#footer .navigation{
    padding: 0px 100px;
}
#footer .copyrights{
    width:100%;
    text-align: center;
    margin:50px 0px;
}
.copyrights span{
    color: #9D9D9D;
}